section.content-wrapper#portfolio
	div.content-inner
		img.title(src='./public/img/gallery7.png', width='44', height='44')
		h1.title='Portfolio'

		div.block-25.m-2p
			div.block-img
				img(src='./public/img/ss/apfront.png')
				h4='PT. Adi Pertiwi (Front)'
				p.
					I was assigned to create their company profile website interface

		div.block-25.m-2p
			div.block-img
				img(src='./public/img/ss/apback.png')
				h4='PT. Adi Pertiwi (CMS)'
				p.
					Created back-end CMS alike with PHP, MySQL and jQuery

		div.block-25.m-2p
			div.block-img
				img(src='./public/img/ss/twelvemusic.png')
				h4='Twelve Music Hit List'
				p.
					Music repository for users to review and check latest music, created using jQuery, PHP and MySQL

		div.block-25.m-2p
			div.block-img
				img(src='./public/img/ss/egomotor.png')
				h4='Ego Motorsport'
				p.
					Pure HTML and JavaScript for their workshop website interface, headquartered in East Jakarta

		span.clearfloat

		div.block-25.m-2p
			div.block-img
				img(src='./public/img/ss/lhdmotor.png')
				h4='LHD Motorsport'
				p.
					Pure HTML and JavaScript for their workshop website interface, headquartered in Bekasi City

		div.block-25.m-2p
			div.block-img
				img(src='./public/img/ss/dlcflorist.png')
				h4='DLC Florist'
				p.
					Florist online shop located in North Jakarta, personal business. Created using PHP, MySQL and JavaScript

		div.block-25.m-2p
			div.block-img
				img(src='./public/img/ss/pandora.png')
				h4='Pandora Hotel'
				p.
					Pure HTML5 and CSS3 website design

		div.block-25.m-2p
			div.block-img
				img(src='./public/img/ss/terminalproject.png')
				h4='Terminal Project'
				p.
					Project website using NodeJS and Jade Template
